/* screen - r03-browse-student-forumns-1 */

.r03-browse-student-forumns-1 {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  width: 1440px;
}

.r03-browse-student-forumns-1 .overlap-group-container {
  align-items: flex-start;
  background-color: var(--dodger-blue);
  display: flex;
  gap: 11px;
  height: 1024px;
  min-width: 1440px;
  padding: 24px 25px;
}

.r03-browse-student-forumns-1 .overlap-group8 {
  height: 965px;
  position: relative;
  width: 1367px;
}

.r03-browse-student-forumns-1 .overlap-group6 {
  height: 965px;
  left: 2px;
  position: absolute;
  top: 0;
  width: 1365px;
}

.r03-browse-student-forumns-1 .rectangle-8 {
  background-color: var(--tropical-blue);
  border: 1px none;
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000040;
  height: 90px;
  left: 1269px;
  position: absolute;
  top: 875px;
  width: 90px;
}

.r03-browse-student-forumns-1 .overlap-group-1 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 10px;
  display: flex;
  height: 88px;
  left: 0;
  min-width: 1247px;
  padding: 14px 16.3px;
  position: absolute;
  top: 877px;
}

.r03-browse-student-forumns-1 .comment {
  height: 29px;
  letter-spacing: -0.60px;
  line-height: normal;
  width: 1190px;
}

.r03-browse-student-forumns-1 .student-forumns {
  height: 88px;
  left: 180px;
  letter-spacing: -0.80px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 730px;
}

.r03-browse-student-forumns-1 .comment-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 587px;
  left: 0;
  min-height: 874px;
  position: absolute;
  top: 84px;
  width: 1365px;
}

.r03-browse-student-forumns-1 .overlap-group1 {
  height: 213px;
  position: relative;
  width: 1359px;
}

.r03-browse-student-forumns-1 .rectangle-14 {
  background-color: var(--mercury);
  border: 1px none;
  height: 188px;
  left: 0;
  position: absolute;
  top: 13px;
  width: 1359px;
}

.r03-browse-student-forumns-1 .thread-aliquet-lect {
  height: 213px;
  left: 372px;
  letter-spacing: -0.60px;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 930px;
}

.r03-browse-student-forumns-1 .x06042022-645-am-1 {
  height: 44px;
  left: 166px;
  letter-spacing: -0.60px;
  line-height: normal;
  position: absolute;
  top: 93px;
  width: 190px;
}

.r03-browse-student-forumns-1 .icons8-user-90-4-1 {
  height: 96px;
  left: 38px;
  object-fit: cover;
  position: absolute;
  top: 46px;
  width: 96px;
}

.r03-browse-student-forumns-1 .user-1 {
  height: 35px;
  left: 36px;
  letter-spacing: -0.60px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 132px;
  width: 101px;
}

.r03-browse-student-forumns-1 .icons8-email-send-30-1 {
  align-self: flex-end;
  height: 74px;
  margin-right: 14px;
  object-fit: cover;
  width: 74px;
}

.r03-browse-student-forumns-1 .overlap-group2 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  height: 188px;
  left: 0;
  min-width: 1359px;
  padding: 21px 36px;
  position: absolute;
  top: 285px;
}

.r03-browse-student-forumns-1 .user-container {
  height: 121px;
  margin-bottom: 1.0px;
  position: relative;
  width: 101px;
}

.r03-browse-student-forumns-1 .icons8-user-90-4 {
  height: 96px;
  left: 2px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 96px;
}

.r03-browse-student-forumns-1 .user {
  height: 35px;
  left: 0;
  letter-spacing: -0.60px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 86px;
  width: 101px;
}

.r03-browse-student-forumns-1 .x06042022-645-am {
  height: 44px;
  letter-spacing: -0.60px;
  line-height: normal;
  margin-left: 29px;
  margin-top: 16.0px;
  width: 190px;
}

.r03-browse-student-forumns-1 .aliquet-lectus-proin {
  align-self: flex-start;
  height: 145px;
  letter-spacing: -0.60px;
  line-height: normal;
  margin-left: 16px;
  width: 636px;
}

.r03-browse-student-forumns-1 .overlap-group {
  height: 118px;
  margin-bottom: 12.0px;
  margin-left: 172px;
  position: relative;
  width: 122px;
}

.r03-browse-student-forumns-1 .upvote {
  height: 35px;
  left: 0;
  letter-spacing: -0.60px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 83px;
  width: 122px;
}

.r03-browse-student-forumns-1 .icons8-up-90-1 {
  height: 96px;
  left: 13px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 96px;
}

.r03-browse-student-forumns-1 .overlap-group3 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  height: 188px;
  left: 0;
  min-width: 1359px;
  padding: 21px 36px;
  position: absolute;
  top: 661px;
}

.r03-browse-student-forumns-1 .overlap-group4 {
  align-items: center;
  background-color: var(--mercury);
  display: flex;
  height: 188px;
  left: 0;
  min-width: 1359px;
  padding: 21px 36px;
  position: absolute;
  top: 473px;
}

.r03-browse-student-forumns-1 .nav-bar {
  align-items: flex-start;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  gap: 8px;
  height: 80px;
  left: 0;
  min-width: 168px;
  position: absolute;
  top: 1px;
}

.r03-browse-student-forumns-1 .icons8 {
  height: 80px;
  object-fit: cover;
  width: 80px;
}

.r03-browse-student-forumns-1 .line-container {
  align-self: center;
  height: 760px;
  margin-bottom: 38.0px;
  position: relative;
  width: 6px;
}

.r03-browse-student-forumns-1 .line-15 {
  height: 760px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1px;
}

.r03-browse-student-forumns-1 .line-16 {
  height: 204px;
  left: 0;
  position: absolute;
  top: 0;
  width: 6px;
}
