:root { 
  --black: #000000;
  --caribbean-green-pearl: #6fde8e;
  --dodger-blue: #2185ff;
  --granite-gray: #666666;
  --heat-wave: #ff7a00;
  --jordy-blue: #91c3ff;
  --martinique: #2f384e;
  --mercury: #e7e7e7;
  --nevada: #686b73;
  --sunglo: #f46767;
  --tropical-blue: #c4dfff;
  --white: #ffffff;
 
  --font-size-l: 36px;
  --font-size-m: 30px;
  --font-size-s: 24px;
  --font-size-xl: 40px;
  --font-size-xs: 22px;
  --font-size-xxs: 18px;
  --font-size-xxxs: 13px;
 
  --font-family-inter: "Inter", Helvetica;
  --font-family-montserrat: "Montserrat", Helvetica;
  --font-family-sf_pro_display-regular: "SF Pro Display-Regular", Helvetica;
  --font-family-sf_pro_text-regular: "SF Pro Text-Regular", Helvetica;
  --font-family-sf_pro_text-semibold: "SF Pro Text-Semibold", Helvetica;
}
.montserrat-bold-black-30px {
  color: var(--black);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.montserrat-normal-black-30px {
  color: var(--black);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.montserrat-normal-white-30px {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.montserrat-normal-granite-gray-18px {
  color: var(--granite-gray);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 400;
}

.montserrat-bold-white-40px {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
}

.inter-normal-white-36px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.inter-normal-black-36px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.montserrat-normal-white-40px {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.montserrat-bold-white-30px {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.montserrat-normal-black-24px {
  color: var(--black);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.sfprodisplay-regular-normal-black-22px {
  color: var(--black);
  font-family: var(--font-family-sf_pro_display-regular);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}
